{% extends "base.html" %}
	{% load static %}
	{% block content %}
		<div class="content-wrapper">
			<div class="row">
				<div class="sidebar col-md-3">
					<form>
						<div class="form-group">
							<label>Emplacement:</label>
							<select class="custom-select">
								<optgroup label="Ariana">
									<option>Tout</option>
									<option>Ariana</option>
									<option>Ariana Ville</option>
									<option>Autres villes</option>
									<option>Borj Louzir</option>
									<option>Chotrana</option>
									<option>Ennasr</option>
									<option>Ettadhamen</option>
									<option>Ghazela</option>
									<option>Jardins D'el Menzah</option>
									<option>La Soukra</option>
									<option>Mnihla</option>
									<option>Raoued</option>
									<option>Sidi Thabet</option>
								</optgroup>
								<optgroup label = "Tunis">
									<option>Tout</option>
									<option>Agba</option>
									<option>Autres villes</option>
									<option>Carthage</option>
									<option>Centre Urbain Nord</option>
									<option>Centre Ville - Lafayette</option>
									<option>Cité El Khadra</option>
									<option>Cité Olympique</option>
									<option>Djebel Jelloud</option>
									<option>El Kabaria</option>
									<option>El Omrane</option>
									<option>El Omrane supérieur</option>
									<option>El Ouardia</option>
									<option>Ettahrir</option>
									<option>Ezzouhour</option>
									<option>Hraïria</option>
									<option>L'aouina</option>
									<option>La Goulette</option>
									<option>La Marsa</option>
									<option>Le Bardo</option>
									<option>Le Kram</option>
									<option>Manar</option>
									<option>Menzah</option>
									<option>Menzel Jemil</option>
									<option>Mutuelleville</option>
									<option>Médina</option>
									<option>Sidi Bou Said</option>
									<option>Sidi Daoud</option>
									<option>Sidi El Béchir</option>
									<option>Sidi Hassine</option>
									<option>Séjoumi Tunis</option>
								</optgroup>
							</select>
						</div>
						<div class="form-group">
							<label>Categories:</label>
							<select class="custom-select">
								<option>Voiture</option>
								<option>Motos</option>
								<option>Camion</option>
								<option>Autres</option>
							</select>
						</div>
						<div class="form-group">
							<label>Prix:</label>
							<div id="shards-custom-slider">
								<input type="hidden" class='custom-slider-input' name="custom-slider-value-1" >
								<input type="hidden" class='custom-slider-input' name="custom-slider-value-2" >
							</div>

						</div>
						<div class="form-group">
							<button type="button" class="btn btn-primary btn-squared w-100">Appliquez</button>
						</div>
						  
					</form>
				</div>
				<div class="listings-wrapper col-md-7">
					<section>
						<h4><i class="fa fa-fire"></i> Annoces à l'une:</h4>
						<div class="row">

							<!-- BEGIN AD -->
							<div class="col-md-4 col-sm-6">
								<div class="card">
									<img class="card-img-top" src="https://cdn-yams.schibsted.com/api/v1/tenants/dd1f88aa-e3e2-450c-9fa9-a03ea59a6bf0/domains/57a9d53a-fe30-4b6f-a4de-d624bd25134b/buckets/8f139e2f-9e74-4be3-9d30-d8f180f02fbb/images/1f/1f08d032-9a93-44f1-9bb9-aae236eebdca?rule=thumbnail" alt="Card image cap">
									<div class="card-body">
										<h4 class="card-title">11 000 TND</h4>
										<p class="card-text">Fiat punto 2017</p>
										<a href="#" class="btn btn-primary">Consultez &rarr;</a>
									</div>
								</div>
							</div>
							<!-- END AD -->

							<!-- BEGIN AD -->
							<div class="col-md-4 col-sm-6">
								<div class="card">
									<img class="card-img-top" src="https://cdn-yams.schibsted.com/api/v1/tenants/dd1f88aa-e3e2-450c-9fa9-a03ea59a6bf0/domains/57a9d53a-fe30-4b6f-a4de-d624bd25134b/buckets/8f139e2f-9e74-4be3-9d30-d8f180f02fbb/images/1f/1f08d032-9a93-44f1-9bb9-aae236eebdca?rule=thumbnail" alt="Card image cap">
									<div class="card-body">
										<h4 class="card-title">17 500 TND</h4>
										<p class="card-text">Clio bombe tt options</p>
										<a href="#" class="btn btn-primary">Consultez &rarr;</a>
									</div>
								</div>
							</div>
							<!-- END AD -->

							<!-- BEGIN AD -->
							<div class="col-md-4 col-sm-6">
								<div class="card">
									<img class="card-img-top" src="https://cdn-yams.schibsted.com/api/v1/tenants/dd1f88aa-e3e2-450c-9fa9-a03ea59a6bf0/domains/57a9d53a-fe30-4b6f-a4de-d624bd25134b/buckets/8f139e2f-9e74-4be3-9d30-d8f180f02fbb/images/1f/1f08d032-9a93-44f1-9bb9-aae236eebdca?rule=thumbnail" alt="Card image cap">
									<div class="card-body">
										<h4 class="card-title">22 700 TND</h4>
										<p class="card-text">Citroen C-ELEISE</p>
										<a href="#" class="btn btn-primary">Consultez &rarr;</a>
									</div>
								</div>
							</div>
							<!-- END AD -->

						</div>
					</section>
					<section>
						<h4><i class="fa fa-circle-o"></i> Vue d'ensemble:</h4>
						<div class="row">

							<!-- BEGIN AD -->
							<div class="col-md-4 col-sm-6">
								<div class="card">
									<img class="card-img-top" src="https://cdn-yams.schibsted.com/api/v1/tenants/dd1f88aa-e3e2-450c-9fa9-a03ea59a6bf0/domains/57a9d53a-fe30-4b6f-a4de-d624bd25134b/buckets/8f139e2f-9e74-4be3-9d30-d8f180f02fbb/images/1f/1f08d032-9a93-44f1-9bb9-aae236eebdca?rule=thumbnail" alt="Card image cap">
									<div class="card-body">
										<h4 class="card-title">22 700 TND</h4>
										<p class="card-text">Citroen C-ELEISE</p>
										<a href="#" class="btn btn-primary">Consultez &rarr;</a>
									</div>
								</div>
							</div>
							<!-- END AD -->

							<!-- BEGIN AD -->
							<div class="col-md-4 col-sm-6">
								<div class="card">
									<img class="card-img-top" src="https://cdn-yams.schibsted.com/api/v1/tenants/dd1f88aa-e3e2-450c-9fa9-a03ea59a6bf0/domains/57a9d53a-fe30-4b6f-a4de-d624bd25134b/buckets/8f139e2f-9e74-4be3-9d30-d8f180f02fbb/images/1f/1f08d032-9a93-44f1-9bb9-aae236eebdca?rule=thumbnail" alt="Card image cap">
									<div class="card-body">
										<h4 class="card-title">22 700 TND</h4>
										<p class="card-text">Citroen C-ELEISE</p>
										<a href="#" class="btn btn-primary">Consultez &rarr;</a>
									</div>
								</div>
							</div>
							<!-- END AD -->

							<!-- BEGIN AD -->
							<div class="col-md-4 col-sm-6">
								<div class="card">
									<img class="card-img-top" src="https://cdn-yams.schibsted.com/api/v1/tenants/dd1f88aa-e3e2-450c-9fa9-a03ea59a6bf0/domains/57a9d53a-fe30-4b6f-a4de-d624bd25134b/buckets/8f139e2f-9e74-4be3-9d30-d8f180f02fbb/images/1f/1f08d032-9a93-44f1-9bb9-aae236eebdca?rule=thumbnail" alt="Card image cap">
									<div class="card-body">
										<h4 class="card-title">22 700 TND</h4>
										<p class="card-text">Citroen C-ELEISE</p>
										<a href="#" class="btn btn-primary">Consultez &rarr;</a>
									</div>
								</div>
							</div>
							<!-- END AD -->

							<!-- BEGIN AD -->
							<div class="col-md-4 col-sm-6">
								<div class="card">
									<img class="card-img-top" src="https://cdn-yams.schibsted.com/api/v1/tenants/dd1f88aa-e3e2-450c-9fa9-a03ea59a6bf0/domains/57a9d53a-fe30-4b6f-a4de-d624bd25134b/buckets/8f139e2f-9e74-4be3-9d30-d8f180f02fbb/images/1f/1f08d032-9a93-44f1-9bb9-aae236eebdca?rule=thumbnail" alt="Card image cap">
									<div class="card-body">
										<h4 class="card-title">22 700 TND</h4>
										<p class="card-text">Citroen C-ELEISE</p>
										<a href="#" class="btn btn-primary">Consultez &rarr;</a>
									</div>
								</div>
							</div>
							<!-- END AD -->

							<!-- BEGIN AD -->
							<div class="col-md-4 col-sm-6">
								<div class="card">
									<img class="card-img-top" src="https://cdn-yams.schibsted.com/api/v1/tenants/dd1f88aa-e3e2-450c-9fa9-a03ea59a6bf0/domains/57a9d53a-fe30-4b6f-a4de-d624bd25134b/buckets/8f139e2f-9e74-4be3-9d30-d8f180f02fbb/images/1f/1f08d032-9a93-44f1-9bb9-aae236eebdca?rule=thumbnail" alt="Card image cap">
									<div class="card-body">
										<h4 class="card-title">22 700 TND</h4>
										<p class="card-text">Citroen C-ELEISE</p>
										<a href="#" class="btn btn-primary">Consultez &rarr;</a>
									</div>
								</div>
							</div>
							<!-- END AD -->

							<!-- BEGIN AD -->
							<div class="col-md-4 col-sm-6">
								<div class="card">
									<img class="card-img-top" src="https://cdn-yams.schibsted.com/api/v1/tenants/dd1f88aa-e3e2-450c-9fa9-a03ea59a6bf0/domains/57a9d53a-fe30-4b6f-a4de-d624bd25134b/buckets/8f139e2f-9e74-4be3-9d30-d8f180f02fbb/images/1f/1f08d032-9a93-44f1-9bb9-aae236eebdca?rule=thumbnail" alt="Card image cap">
									<div class="card-body">
										<h4 class="card-title">22 700 TND</h4>
										<p class="card-text">Citroen C-ELEISE</p>
										<a href="#" class="btn btn-primary">Consultez &rarr;</a>
									</div>
								</div>
							</div>
							<!-- END AD -->

						</div>
					</section>
				</div>
			</div>
		</div>
	{% endblock %}