/** IMPORTING THE FONTS **/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');

/** RESET **/
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
}

body { background: #f5f5f5; }

.main-wrapper { width: 95%; margin: 0px auto; }

.content-wrapper { position: relative; }

.navbar-wrap {
	padding: 40px 0px;
}

.sidebar {
	padding: 0px 2%;
	padding-top: 25px;
	min-height: 550px;
	background: #fff;
	border-radius: 0px;
	border: 2px solid #cdd7f3;
	float: left;
}
.listings-wrapper {
	margin-left: 5%;
	float: left;
}
section h4 {
	margin: 25px 0px;
}
section h4 .fa-fire { color: #E91E63; }
section .card { margin: 20px 0px; }

.annonce-wrap {
	position: relative;
	width: 22%;
	padding-top: 22%;
	margin: 15px 1%; 
	list-style: none;
	display: inline-block;
}
.annonce {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	border: 2px solid #4a4a4a;
	border-radius: 5px;
}
.annonce-thumbnail {
	width: 100%;
	height: 100%;
	margin: 0px auto;
}
.annonce p {
    position: absolute;
    width: calc(100% - 5px);
    bottom: 0px;
    padding: 5px;
    background: rgba(158, 158, 158, 0.5);
    color: #fff;
}

/** FORM **/
.form-group label {
	display: block;
}

/** Small devices (landscape phones, less than 768px) **/
@media (max-width: 767.98px) {
	.logo-wrap { margin-bottom: 20px; }
	.main-wrapper { width: 85%; margin: 0px auto; }
}