{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<meta charset="utf-8">
	<meta name="theme-color" content="#2349ec" />
	<title>OccasionTunisie | Achetez et vendeze des véhicules.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{% static 'app/img/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'app/img/favicon.ico' %}" type="image/x-icon">

	<!-- CSS Dependencies -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'app/css/shards.min.css' %}">

	<!-- Local CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">

	<!-- JS Dependencies -->
	<script src="https://kit.fontawesome.com/398832e74c.js"></script>
</head>
	<body>
	<div class="main-wrapper">
		<div class="navbar-wrap">
			<div class="row">
				<div class="col-md-3 logo-wrap">
					<img src="{% static 'app/img/logo_occasiontunisie.png' %}" />
				</div>
				<div class="col-md-6">
					<div class="form-group col-md-10">
						<div class="input-group">
							<input type="text" class="form-control" id="form3-password" placeholder="Chercher...">
							<span class="input-group-append">
								<span class="input-group-text"><i class="fa fa-search"></i></span>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-12 hidden-sm">
					{% if connected == False %}
						<button type="button" class="btn btn-primary float-right" onclick="location.href='{% url 'account_login' %}';">Se connecter <span class="fa fa-sign-in"></span></button>
					{% endif %}
					{% if connected == True %}
						<div class="btn-group" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-primary">Mes annonces</button>
							<button type="button" class="btn btn-primary"><span class="fa fa-user-circle-o"></span> {{ user }}</button>
							<button type="button" class="btn btn-primary" onclick="location.href='{% url 'account_logout' %}';">
								<span class="fa fa-sign-out"></span>
							</button>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	{% block content %}
	{% endblock %}
	</div>
	<!-- Optional JavaScript -->
    <!-- JavaScript Dependencies: jQuery, Popper.js, Bootstrap JS, Shards JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'app/js/shards.min.js' %}"></script>


	<!-- JavaScript -->
	<script>
	  jQuery('#shards-custom-slider').customSlider({
	    start: [0, 10000],
	    tooltips: [true, true],
	    connect: true,
	    range: {
	      'min': 0,
	      'max': 10000
	    }
	  });
	</script>
</body>
</html>